
.number {
    color:black;
    background-color: rgb(230, 155, 155);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cooler {
    font-size: 24px;
}
#number2
{
    color: rgb(37, 37, 254);
    font-size: 36px;
}
#number4
{
background-color: rgb(175, 240, 175);
font-size: 24px;
font-weight: bold;
}
